/*CSS document https://www.w3schools.com/css/css_border.asp*/


body {
font-family:Verdana;
background-image: url("shoreline.jpg");
background-color: black;
background-repeat: no-repeat, repeat;
text-color: black;
}

nav, main {
margin: auto; 
margin-top: 50px; 
margin-bottom: 2px;
padding: 2px;
background-color:cyan;
border: 1px cyan;
border-radius: 10px;
padding: 5px;
}

h2, p, footer, .rollover {
margin: 10px;
font-family:Segoe ui;
background-color:white;
border: 2px cyan;
border-radius: 5px;
}

ul {
text-align: center;
list-style-type: none;
margin: 0;
padding: 0;
}

li {
display: inline; 
padding: 8px;
background-color: cyan;
margin-right: 5px;
border: 2px white;
border-style: solid;
border-radius: 10px;
border-width: 1px;
transition: background-color .25s;
}

li:hover{
background-color: #ffadbb;
box-shadow: 3px 3px 5px grey;
}

li:active{
background-color: white;
}

nav{
width: 1300px;
text-shadow: 3px 2px cyan;
}

footer{
float: right;
width: 340px;
text-align: center;
}

h1{
width: 500px;
margin: 10px;
font-family:Segoe ui;
color: white;
background-image: url("water.jpg");
border: 2px cyan;
border-radius: 5px;
padding-bottom: 50px;
text-shadow: 3px 2px black;
}

form{
float: none;
margin-left: 10px;
width: 320px;
border: 2px black;
border-style: solid;
border-radius: 10px;
border-width: 1px;
}

textarea {
width: 100px;
height: 20px;
transition: width .35s ease-in-out, height .35s ease-in-out;
}

textarea:focus {
width: 250px;
height: 70px;
}

h3 {
font-size: 18px;
float:right;
border-width: 1px;
margin-right: 0px;
background-color: none;
transition: margin-right 7s, background-color 7s ease-in-out, transform 4s ease-in-out;
border-radius: 10px;
border-width: 1px;
}

h3:hover {
margin-right: 360px;
background-color: cyan;
border: 2px cyan;
transform: rotate(10deg);
}

*{
text-decoration: none;
}

video{
width:23%;
display: inline-block;
border-radius: 8px;
margin: 2px;
}

img{
border-radius: 8px;
margin: 2px;
display: inline-block;
}

p{
padding:2px;
}

.edinburgh{
width: 500px;
height: 333px;
border-radius: 8px;
}

.glasgow{
width: 500px;
height: 500px;
border-radius: 8px;
}

.rollover{
width: 608px;
height: 405px;
border-radius: 8px;
}

.rollover{
background: url("House 1.jpeg") no-repeat;
}
.rollover:hover{
background: url("House 2.jpeg") no-repeat;
}

.edinburgh{
background: url("Room Edinburgh.jpeg") no-repeat;
}

.edinburgh:hover{
background: url("Edinburgh En-suite.jpg") no-repeat;
}

.glasgow{
background: url("Room Glasgow.jpg") no-repeat;
}

.glasgow:hover{
background: url("Glasgow En-suite.jpg") no-repeat;
}

.fancy{
margin-right:12px;
background-color:white;
margin-top:10px;
float:right;
font-weight: bold;
text-decoration: underline;
border-radius: 10px;
border-width: 1px;
padding: 5px;
transition: text-shadow .3s ease-in-out;
}

.fancy:hover{
text-shadow: 2px 0px #ffadbb;
}