body{color:#ffffff;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;background-color:5F5F5F;font-family:Helvetica;text-align:center;height:1300px;}
.line{background-color:#ffffff;height:5px}
.top{background-color:#858585;font-family:Times new roman}
.nav{background-color:#DEA502}
.tac{background-color:#303030;text-align:center;height:200px;margin-left:0px;margin-right:0px;margin-top:1200px;margin-bottom:0px;}
a:link{color:#000000}
a:visited{color:#0f0f0f}
a:hover{color:#ffffff}
p{text-align:center;}